

<html lang="en"
   
<head>
    <!-- Landing page -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Task Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="~/Icon.png" />
    <link href="~/template/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/template/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/template/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/template/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/template/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/template/css/style.css" rel="stylesheet">
    <!-- end landing page -->
    <!-- ========================================================================== -->
</head>

<body>
    
    @RenderBody()

</body>
</html>
