@model ClientSide.ViewModels.Assignment.UpdateAssignmentVM

@{
    ViewData["Title"] = "EditAssignment";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">
            <span class="text-muted fw-light">Assignment /</span>
            Edit Assignment
        </h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditAssignment" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Guid" class="form-control" hidden />
                            <div class="form-group col-md-5">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="Category" class="control-label"></label>
                                <select id="mySelect2Edit" name="Category" class="form-control" asp-for="Category" multiple="multiple">
                                    @{
                                        // Loop through the selected categories in updateAssignmentVM.Category
                                        foreach (var category in Model.Category)
                                        {
                                            <option value="@category" selected>@category</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>


                            <div class="form-group col-md-5">
                                <label asp-for="DueDate" class="control-label"></label>
                                <!-- Display only the date and time without milliseconds -->
                                <input asp-for="DueDate" class="form-control" type="datetime-local" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group mt-3">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <script>
        // Initialize CKEditor 4
        CKEDITOR.replace('Description');

        // Initialize Select2 for editing
        $(document).ready(function () {
            $('#mySelect2Edit').select2({
                tags: true,
                tokenSeparators: [',']
            });
        });
    </script>
}
