@model ClientSide.ViewModels.Account.RegisterVM

@{
    ViewData["Title"] = "Register - Metrodata Task Management";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <a asp-controller="Dashboard" asp-action="Index">
                        <i class='bx bx-arrow-back'></i>
                    </a>
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-text demo text-body fw-bolder">Create Account</span>
                    </div>
                    <!-- /Logo -->
                    <form id="formAuthentication" class="mb-3" asp-action="SignUp">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="Username"
                                   placeholder="Enter your username"
                                   autofocus />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="text" class="form-control" asp-for="Email" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="Name"
                                   placeholder="Enter your full name"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="Role">Role</label>
                            <div class="input-group">
                                <label class="input-group-text" asp-for="Role">Options</label>
                                <select class="form-select" asp-for="Role">
                                    <option value="1" selected>Staff</option>
                                    <option value="2">Project Manager</option>
                                    <option value="3">Admin</option>
                                </select>
                            </div>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" asp-for="Password">Password</label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password"
                                       class="form-control"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input class="form-control"
                                       asp-for="ConfirmPassword"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary d-grid w-100">Sign up</button>
                    </form>
                </div>
            </div>
            <!-- Register -->
        </div>
    </div>
</div>  

@section Styles{
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
}
