@model ClientSide.ViewModels.Account.RegisterVM

@{
    ViewData["Title"] = "Register - Metrodata Task Management";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <a asp-controller="Dashboard" asp-action="Index">
                        <i class='bx bx-arrow-back'></i>
                    </a>
                    <div class="app-brand justify-content-center">
                        <span class="app-brand-text demo text-body fw-bolder">Create Account</span>
                    </div>
                    <!-- /Logo -->
                    <form id="formAuthentication" class="mb-3" asp-action="SignUp">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   name="username"
                                   placeholder="Enter your username"
                                   autofocus />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   placeholder="Enter your full name"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="role">Password</label>
                            <div class="input-group">
                                <label class="input-group-text" for="role">Options</label>
                                <select class="form-select" id="role" name="Role">
                                    <option value="1" selected>Staff</option>
                                    <option value="2">Project Manager</option>
                                    <option value="3">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       id="password"
                                       class="form-control"
                                       name="password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       id="ConfirmPassword"
                                       class="form-control"
                                       name="ConfirmPassword"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100">Sign up</button>
                    </form>
                </div>
            </div>
            <!-- Register -->
        </div>
    </div>
</div>  

@section Styles{
    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />
}
