
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLandingPage";
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="#">MTM</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="~/template/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#feature">Feature</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
                <li>
                    @if(!User.Identity.IsAuthenticated){
                        <a class="getstarted scrollto" asp-controller="Account" asp-action="SignIn">Login</a>
                    }else{
                        <a class="nav-link scrollto" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    }
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Metrodata Task Management</h1>
                <h2>We are a team of talented developers who make task management </h2>
                <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
            </div>
            <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
                <img src="~/template/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
                    <img src="~/template/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <h3>Metrodata Task Management</h3>
                    <p class="fst-italic">
                        Task management is the process of planning, organizing, prioritizing, and tracking tasks and activities to achieve specific goals and objectives efficiently and effectively. It is a crucial aspect of personal, professional, and project-related productivity.  
                       
                    </p>
                    <p>
                        Here are the key components and principles of task management:
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Task Tracking: Regularly monitor and track the progress of tasks</li>
                        <li><i class="bi bi-check-circle"></i> Time Management: Efficiently managing time is critical to completing tasks on schedule.</li>
                        <li><i class="bi bi-check-circle"></i>Task Completion and Review: Once a task is completed, it should be reviewed to assess whether the desired outcome was achieved and whether there were any issues or improvements that can be made for future tasks.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
 
    <!-- ======= Feature Section ======= -->
    <section id="feature" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Feature</h2>
            </div>

            <div id="create" class="row gy-4">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                            </svg>
                            <i class="bx bxl-dribbble"></i>
                        </div>
                        <h4><a href="">Task Creation</a></h4>
                        <p>Project manager creates a new task with title, description, select staff, and due date.</p>
                    </div>
                </div>

                <div id="track" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-orange ">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                            </svg>
                            <i class="bx bx-file"></i>
                        </div>
                        <h4><a href="">Task Status Tracking</a></h4>
                        <p>Project manager and staff can track the status of each task, whether it is completed, in progress, or pending.</p>
                    </div>
                </div>

                <div id="progress" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-tachometer"></i>
                        </div>
                        <h4><a href="">Progress Task</a></h4>
                        <p>A feature that can view task progress in percentage </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Feature Section -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2> 
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>
                            APL Tower lt.37 Suite 1-8
                            Jl. Letjen S. Parman Kav. 28
                            Kel. Tanjung Duren Selatan
                            Kec. Grogol Petamburan
                            Kota Jakarta Barat
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>metrodata.academy@ms.mii.co.id</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>+62 21 2934 57775</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0560127517994!2d106.78938831476912!3d-6.177455262388761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f4377ff9dbb7%3A0x15d97fcb0f883f06!2sCentral%20Park!5e0!3m2!1sen!2sid!4v1627744732371!5m2!1sen!2sid" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
   

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>MTM</h3>
                    <p>
                        Central Park Tower, Jl. Letjen S. Parman No.Kav 28, RT.12/RW.7, Petamburan, Kec. Grogol Petamburan Kota Jakarta Barat<br>
                        Daerah Khusus Ibukota Jakarta 11440 <br><br>
                        <strong>Phone:</strong> +62 21 2934 5777<br>
                        <strong>Email:</strong> metrodata.academy@ms.mii.co.id<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#feature">Feature</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Feature</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#create">Task Creation</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#track">Task Status Tracking</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#progress">Progress Task</a></li>
                  
                    </ul>
                </div>

     

            </div>
        </div>
    </div>

    <div class="container">

        <div class="copyright-wrap d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
             
            </div>
            
        </div>

    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>


<!-- Vendor JS Files -->
<script src="~/template/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="~/template/vendor/aos/aos.js"></script>
<script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/template/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/template/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/template/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/template/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/template/js/main.js"></script>
